body {
  background-color: darkslategrey;
  color: lavender;
  margin-top: 100px;
}

.shortcut-list {
  background-color: grey;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid lavender;
  padding: 20px;
}

.shortcut-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 20px 0;
  width: 70%;
  border-bottom: 1px solid lavender;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: lavender;
}

input[type=checkbox] {
  margin-right: 10px;
}